<?xml version="1.0" encoding="UTF-8" ?>
<!--

    CDDL HEADER START

    The contents of this file are subject to the terms of the
    Common Development and Distribution License, Version 1.0 only
    (the "License").  You may not use this file except in compliance
    with the License.

    You can obtain a copy of the license at license/ESCIDOC.LICENSE
    or https://www.escidoc.org/license/ESCIDOC.LICENSE .
    See the License for the specific language governing permissions
    and limitations under the License.

    When distributing Covered Code, include this CDDL HEADER in each
    file and include the License file at license/ESCIDOC.LICENSE.
    If applicable, add the following below this CDDL HEADER, with the
    fields enclosed by brackets "[]" replaced with your own identifying
    information: Portions Copyright [yyyy] [name of copyright owner]

    CDDL HEADER END



    Copyright 2011 Fachinformationszentrum Karlsruhe Gesellschaft
    fuer wissenschaftlich-technische Information mbH and Max-Planck-
    Gesellschaft zur Foerderung der Wissenschaft e.V.
    All rights reserved.  Use is subject to license terms.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %m at %C.(%F:%L) on %d{ISO8601}%n" />
		</layout>
	</appender>
	<logger name="org.apache">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<logger name="httpclient.wire">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>